/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";
/*@import "base";*/

body { 
  padding-top: 30px;
  font-family: 'Lato', sans-serif; 
  color: #ffffff;
  max-width: 100%;
}

.login {
  margin: auto;
  padding-left: 100px;
  font-family: 'Lato', sans-serif; 
  display: inline-block;

}
  
.new-list {
  margin: auto;
  margin-left: 100px;
  font-family: 'Lato', sans-serif;
}

.table {
  max-width: 1000px;

}

.todo_items_wrapper {
  display: inline;
  padding-left: 100px;
}

.show_links {
  margin-left: 85px;
}

.show_page {
  margin-left: 85px;
}

#form {
  display: inline-block;
  padding-left: 85px;
}

.home {
  display: inline;
  text-align: center;
}

.new_list {
  padding-left: 85px;
  font-family: 'Lato', sans-serif;
}

.new_list h1 {
  padding-left: 85px;
}

.new-list-back-button {
  padding-left: 85px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  color: #ff6428;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.image {
  padding-left: 22%; 
}

.edit-item {
  padding-left: 100px;
}

.edit-view {
   padding-left: 85px;
}

.edit-links {
  padding-left: 85px;
}

.edit-view-h1 {
  padding-left: 85px;
}

a:visited {
  color: #ff6428;
}

a {
  color: #ff6428;
}

.notice {
  padding-left: 25px;
}