/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";
/*@import "base";*/

body { 
  padding-top: 30px;
  font-family: 'Lato', sans-serif; 
  color: #ffffff;
  max-width: 100%;
}

.login {
  margin: auto;
  padding-left: 100px;
  font-family: 'Lato', sans-serif; 
  display: inline-block;
}

.signin-options {
  margin: auto; 
  font-family: 'Lato', sans-serif;
  display: inline-block;
  padding-left: 85px;
}
  
.new-list {
  margin: auto;
  margin-left: 100px;
  font-family: 'Lato', sans-serif;
}

.table {
  max-width: 1000px;

}

.todo_items_wrapper {
  padding-left: 100px;
  display: inline-block;
}

.show_links {
  margin-left: 85px;
}

.show_page {
  margin-left: 85px;
}

#form {
  display: inline-block;
}

.home {
  text-align: center;
}

.new_list {
  margin: auto;
  margin-left: 100px;
  font-family: 'Lato', sans-serif;
}